{% extends 'Abase.html' %}
{% block content %}

<div class="cbody">
    <div class="container" >     
            
       <div>
            <p style="position: absolute;background: #FD2A2A;font-size: 50px;font-family: 'Inter';color: white;font-weight: 600;padding: 10px;left: 553px;top:100px;">   Welcome to  Chapter-5  </p>
            <p style="position: absolute;left: 250px;padding: 10px;top: 300px;">
            <iframe width="960" height="515" src="https://www.youtube.com/embed/bTiOcCnzNnA?si=izwUwvDcztVGODPq" title="YouTube video player" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
        </div>
    </div>
</div> 
{% endblock %}