.containers p{
   position: absolute;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   color: #000000;
}
.inph{ 
    background-color: lightblue; 
    position: absolute;
    background: rgba(196, 196, 196, 0.15);
    border: 3px solid #09941c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; 
}
.inna{   
    background-color: lightblue; 
    position: absolute;
    background: rgba(196, 196, 196, 0.15);
    border: 3px solid #09941c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}       
.inpE {     
    background-color: lightblue; 
    position: absolute;
    background: rgba(196, 196, 196, 0.15);
    border: 3px solid #09941c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; 
}  
.inpP {    
    background-color: lightblue; 
    position: absolute;
    background: rgba(196, 196, 196, 0.15);
    border: 3px solid #09941c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; 
}  
.reb{
   position: absolute;
   background: #0A07B8;
   border-radius: 15px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   color: #FFFFFF;
}
.reb:hover { background-color: #091a0b;}

@media only screen and (max-width: 600px) {
    .containers p{
        left: 15%;
        top: 905px;
        font-size: 25px;
        padding-bottom: 10%;
     }
     .naph{
        position: absolute;
        left: 17%;
        top: 555px;
        font-size: 20px;
        color: #000000
     }
     .inph{
         padding: 15px;   
         width: 59%;
         left: 15%;
         top: 590px;
         font-size: 15px;
     
     }
     .nam{
         position: absolute;
         left: 17%;
         top: 455px;
         font-size: 20px;
         color: #000000;
     }
     .inna{
         padding: 15px;   
         width: 59%;
         left: 15%;
         top: 490px;
         font-size: 15px;
     }       
     .emals{
        position: absolute;
        left: 17%;
        top: 660px;
        font-size: 20px;
        color: #000000;
     }
     
     .inpE {   
         padding: 15px;   
         width: 59%;
         left: 17%;
         top: 695px;
         font-size: 15px;
     }  
     .passw{
        position: absolute;
        left: 17%;
        top: 760px;
        font-size: 20px;
        color: #000000;
     } 
     .inpP {    
         left: 15%;
         top: 792px;
         padding: 15px;
         width: 59%;
         font-size: 15px;
     }  
     .reb{
        width: 72%;
        height: 60px;
        left: 15%;
        top: 860px;
        font-weight: 600;
        font-size: 30px;
     }
     .wels{
        position: absolute;
        left: 15%;
        top: 1%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        opacity: 0.8;
     }
     .regImg{
        position: absolute;
        width: 330px;
        height: 300px;
        left: -50px;
        top: 150px;
     }
    }
@media only screen and (min-width: 600px) {
    .containers p{
        left: 35%;
        top: 655px;
        font-size: 35px;
     }
     .naph{
        position: absolute;
        left: 36%;
        top: 240px;
        font-size: 25px;
        color: #000000
     }
     .inph{
         padding: 20px;   
         width: 49%;
         left: 35%;
         top: 280px;
         font-size: 20px;
     
     }
     .nam{
         position: absolute;
         left: 36%;
         top: 125px;
         font-size: 25px;
         color: #000000;
     }
     .inna{
         padding: 20px;   
         width: 49%;
         left: 35%;
         top: 160px;
         font-size: 20px;
     }       
     .emals{
        position: absolute;
        left: 36%;
        top: 360px;
        font-size: 25px;
        color: #000000;
     }
     .inpE {   
         padding: 20px;   
         width: 49%;
         left: 35%;
         top: 400px;
         font-size: 20px;
     }  
     .passw{
        position: absolute;
        left: 36%;
        top: 475px;
        font-size: 25px;
        color: #000000;
     } 
     .inpP {    
         left: 35%;
         top: 520px;
         padding: 20px;
         width: 49%;
         font-size: 20px;
     }  
     .reb{
        width: 54%;
        height: 60px;
        left: 35%;
        top: 610px;
        font-weight: 600;
        font-size: 30px;
     }
     .wels{
        position: absolute;
        left: 38%;
        top: 1%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        opacity: 0.8;
     }
     .regImg{
        position: absolute;
        width: 471px;
        height: 451px;
        left: -76px;
        top: 300px;
     }
}
@media screen and (min-width: 1024px){
    .containers p{
        left: 700px;
        top: 680px;
        font-size: 35px;
     }
     .naph{
        position: absolute;
        left: 36%;
        top: 260px;
        font-size: 25px;
        color: #000000
     }
     .inph{
         padding: 20px;   
         width: 49%;
         left: 35%;
         top: 300px;
         font-size: 25px;
     
     }
     .nam{
         position: absolute;
         left: 36%;
         top: 135px;
         font-size: 25px;
         color: #000000;
     }
     .inna{
         padding: 20px;   
         width: 49%;
         left: 35%;
         top: 180px;
         font-size: 25px;
     }       
     .emals{
        position: absolute;
        left: 36%;
        top: 380px;
        font-size: 25px;
        color: #000000;
     }
     
     .inpE {   
         padding: 20px;   
         width: 49%;
         left: 35%;
         top: 420px;
         font-size: 25px;
     }  
     .passw{
        position: absolute;
        left: 36%;
        top: 495px;
        font-size: 25px;
        color: #000000;
     } 
     .inpP {    
         left: 35%;
         top: 532px;
         padding: 20px;
         width: 49%;
         font-size: 25px;
     }  
     .reb{
        width: 52%;
        left: 35%;
        top: 630px;
        font-weight: 600;
        font-size: 40px;
     }
     .wels{
        position: absolute;
        left: 45%;
        top: 2%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        opacity: 0.8;
     }
     .regImg{
        position: absolute;
        width: 671px;
        height: 551px;
        left: -66px;
        top: 300px;
     }
}

