{% extends 'base.html' %}
{% block content %}

<div id="preloader">
    <div id="status">&nbsp;</div>
</div> 
<div class="abody">
    <img src="/static/images/banner/about.jpg" alt="Error!! picture " class="ap_img">
    <div class="title" style=" background: #B570CD;">
        <p class="ap"> We are trying to provide the best for you. Here we are providing services to class 4-8 and it will update gradually.You can share your opinion as feedback and can guide us.</p>
        <div class="devlop" style=" background: #B570CD;">
            <ul>
                <li><u>This site developed by :</u></li>
                <li>Md.Tawhid Mostafa</li><br>
                <li><u>This site advice by :</u></li>
                <li>Nusrat Jahan Farin</li>
                <li><sup>Lecturer,Department of Computer Science and Engineering</sup></li>
                <li>Md.Tanvir Ahmed</li>
            </ul>
            
        </div>
    </div>
</div>
{% endblock %}