{% extends 'Abase.html' %}
{% block content %}

<div class="cbody">
    <img src="/static/images/banner/class.jpg" alt="Error !!! picture" class="ca_img">
    <div class="container" >            
        <div class="row">
                <div>
                    <ul>
                        <li class="c4" id="cla"> <a href="{% url 'c4' %}" style="text-decoration: none; color: inherit; " >Class - 4</a></li>>
                        <li class="c5" id="cla"> <a href="{% url 'c5' %}" style="text-decoration: none; color: inherit; " >Class - 5</a></li>
                        <li class="c6" id="cla"> <a href="{% url 'c6' %}" style="text-decoration: none; color: inherit; " >Class - 6</a></li>
                        <li class="c7" id="cla"> <a href="{% url 'c7' %}" style="text-decoration: none; color: inherit; " >Class - 7</a></li>
                        <li class="c8" id="cla"> <a href="{% url 'c8' %}" style="text-decoration: none; color: inherit; " >Class - 8</a></li>
                    </ul>
                 </div>
        </div>
</div> 
{% endblock %}