{% extends 'Abase.html' %}
{% block content %}

<div class="cbody">
    <img src="/static/images/banner/class6.jpg" alt="Error !!! picture" class="ca_img">
    <div class="container" >            
        <div class="row">
                <div>
                    <ul>
                        <li class="c4" id="cla"> Bangla </li>
                        <li class="c5" id="cla"> English </li>
                        <li class="c6" id="cla"> Math </li>
                        <li class="c7" id="cla"> Science</li>
                        <li class="c8" id="cla">reiligion</li>
                    </ul>
                 </div>
        </div>
</div> 
{% endblock %}