{% extends 'Abase.html' %}
{% block content %}

<div class="cbody">
    <img src="/static/images/banner/class4.jpg" alt="Error !!! picture" class="ca_img">
    <div class="container" >            
        <div class="row">
                <div>
                    <ul>
                        <li class="c4" id="cla"><a href="{% url 'bangla4' %}" style="text-decoration: none; color: inherit; " >Bangla </a></li>
                        <li class="c5" id="cla"><a href="{% url 'english4' %}" style="text-decoration: none; color: inherit; " >English</a> </li>
                        <li class="c6" id="cla"><a href="{% url 'math4' %}" style="text-decoration: none; color: inherit; " >Math</a></li>
                        <li class="c7" id="cla"><a href="{% url 'science4' %}" style="text-decoration: none; color: inherit; " >Science</a></li>
                        <li class="c8" id="cla"><a href="{% url 'religion4' %}" style="text-decoration: none; color: inherit; " >Reiligion</a></li>
                    </ul>
                 </div>
        </div>
</div> 
{% endblock %}