{% extends 'base.html' %}
{% block content %}

<div class="cont">
    <div class="finds">
        <h1>Find Us</h1>
        <ul>
            <li>Contact : 1234 (8 AM - 11 PM)</li>
            <li>Emali: support@bidhapith.com</li>
        </ul>
       <div class="soclink">
         <p>Social media Links: </p>
         <ul>
            <li><img src="/static/images/icons/facebook.png"></li>
            <li><img src="/static/images/icons/youtube.png"></li>
            <li><img src="/static/images/icons/twitter.png"></li>
            <li><img src="/static/images/icons/linkedin.png"></li>
         </ul>
        </div>
    </div>
</div>
{% endblock %}